@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* { 
    -webkit-font-smoothing: antialiased;
}

:root {
  --primary-color: #fd951f;
}

html {
  font-size: 62.5%;
}

body{
  background: #212121;
  
  font-family: 'Montserrat', sans-serif;

  color: white;

  font-size: 1.4rem;
}

h1 {
  color: var(--primary-color);
  font-size: 2.2rem;

  margin-top: 0;

  line-height: 0;
}

h3 {
  margin-bottom: 24px;
}

h1, h3 {
  text-align: center;
}

p {
  font-size: 1.2rem;
}



.wrap {
  width: 100%;
 
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  margin-top: 32px;
}

.search {
  max-width: 300px;
  width: 90%;
  
  display: flex;
}

.social-medias {
  display: flex;
}

.social-medias li {
  margin-top: 16px;
  list-style: none;
}

.social-medias li {
  margin-right: 32px;
}

.social-medias li:last-child {
  margin-right: 0px;
}

.social-medias li a {
  color: #777;
}

.social-medias li a:hover {
  color: white;
}

.social-medias li i { 
  margin-right: 4px;
}

label {
  text-indent:-9999px; /* hide from view */
}

input {
  width: 100%;
  
  border: 3px solid var(--primary-color);
  border-right: none;
  border-radius: 5px 0 0 5px;
  
  
  padding: 8px 16px;
  
  outline: none;
  
  color: #212121;
}

input:focus{
  color: black;
}

button {
  background: var(--primary-color);
  
  width: 40px;
  height: 36px;
  
  border-radius: 0 6px 6px 0;
  border: 1px solid var(--primary-color);
  
  font-size: 2rem;
  text-align: center;
  color: #fff;
  
  cursor: pointer;
}

a {
    color: #aaa;
    text-decoration: none;

    transition: 400ms;
}

a:hover {
    filter:  brightness(1.2);
}

#videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    
    gap: 16px;

    margin-top: 32px;

    max-width: 960px;
    width: 90%;
}

.video {
    padding: 16px;
    background: #333;
    border-radius: 4px;
}

.video img {
    width: 100%;
    height: 120px;
    
    object-fit: cover;
    
    border-radius: 4px;
}

.video.hide {
    display: none;
}